<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
	    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">vipbicpauU6o369AgQfSyv0ulY</property>
		<property name="hibernate.connection.url">jdbc:postgresql://ec2-54-247-170-228.eu-west-1.compute.amazonaws.com:5432/d2pn5p5rsnoeqd?sslmode=require</property>
		<property name="hibernate.connection.username">cmhrjjikoxioec</property>
		<property name="hibernate.default_schema">public</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<mapping resource="domain/Room.hbm.xml" />
		<mapping resource="domain/Activity.hbm.xml" />
		<mapping resource="domain/Categoryproduct.hbm.xml" />
		<mapping resource="domain/Cotisation.hbm.xml" />
		<mapping resource="domain/Event.hbm.xml" />
		<mapping resource="domain/Excludeddate.hbm.xml" />
		<mapping resource="domain/Inscription.hbm.xml" />
		<mapping resource="domain/Notification.hbm.xml" />
		<mapping resource="domain/Orderline.hbm.xml" />
		<mapping resource="domain/Product.hbm.xml" />
		<mapping resource="domain/Repetition.hbm.xml" />
		<mapping resource="domain/Userorder.hbm.xml" />
		<mapping resource="domain/ZerenetyUser.hbm.xml" />
		<mapping resource="domain/Formule.hbm.xml" />
    </session-factory>
</hibernate-configuration>
